
<button id="toggleSidebar">Toggle Sidebar</button>
<h1>Akta</h1>
<form>
    <div>
        <label>Date:</label>
        <input />
    </div>
    <div>
        <label>Place:</label>
        <input />
    </div>
    <div>
        <input type="submit" value="Add" />
    </div>
</form>
